.header-container {
  height: 93px;
  padding-bottom: 20px;
  position: relative;
}

.header-container__lets-talk {
  position: absolute;
  width: 82px;
  height: 84px;
  border-radius: 3.08px 3.08px 46.194px 3.08px;
  background: #fff;
  line-height: normal;
  bottom: -32px;
  right: 0;
}

.header-bg {
  background: #343434;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.07);
}
