.header-container {
  height: 80px;
  padding-bottom: 16px;
  position: relative;
}

.header-container__lets-talk {
  position: fixed;
  width: 172px;
  height: 40px;
  border-radius: 3.08px 3.08px 46.194px 3.08px;
  background: #fff;
  line-height: normal;
  top: 20px;
  right: 35px;
}

.header-bg {
  background: #343434;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.07);
}
