.w-55 {
  width: 55%;
}

.w-45 {
  width: 45%;
}

.w-500px {
  width: 500px;
}

.w-425px {
  width: 425px;
}

.w-320px {
  width: 320px;
}

.service-illustration {
  width: 270px;
  height: 265px;
  border-radius: 8px 8px 120px 8px;
}

.services__separator {
  border: 0.5px solid #606060;
  margin-top: 72px;
  margin-bottom: 72px;
}

.sub-headings__dot {
  border-radius: 0px 0px 8px 0px;
  background: #a8a8a8;
  height: 13px;
  width: 13px;
}

.benefits-illustration {
  width: 250px;
  height: 250px;
}

.common-service-illustration,
.design-service-illustration,
.development-service-illustration,
.growth-service-illustration {
  width: 624px;
  height: 624px;
}

.impact-illustration {
  width: 200px;
  height: 708px;
}

.impact-illustration.bg-blue-3 {
  border-radius: 4px 4px 120px 4px;
}

.impact-illustration.bg-blue-1 {
  border-radius: 4px 4px 120px 4px;
}

.impact-illustration.bg-orange-1 {
  border-radius: 4px 4px 120px 4px;
}

.impact-illustration.bg-purple-1 {
  border-radius: 4px 4px 120px 4px;
}

.pink-1 {
  color: pink;
}

.experts-thumbnail {
  width: 341px;
  height: 390px;
}

.br-top-right-194 {
  border-top-right-radius: 194px;
}

.br-bottom-right-194 {
  border-bottom-right-radius: 194px;
}

.br-top-left-194 {
  border-top-left-radius: 194px;
}

.br-bottom-left-194 {
  border-bottom-left-radius: 194px;
}

.book-slot-container > div {
  width: 372px;
  height: 464.003px;
}

.book-slot-container > div:first-child {
  background-color: #0540f2;
  border-radius: 0px 0px 150px 0px;
}

.book-slot-container > div:last-child {
  background-color: #ff9a3c;
  border-radius: 0px 0px 0px 150px;
}

.book-slot-container > div:nth-child(2) {
  background-color: #3733a6;
  border-radius: 150px 0px 0px 0px;
}

.book-slot-container:hover > div:first-child {
  background-color: #154efb;
}

.book-slot-container:hover > div:last-child {
  background-color: #ffab5c;
}

.book-slot-container:hover > div:nth-child(2) {
  background-color: #443fc4;
}

.main-container__lets-talk {
  border-radius: 8px 8px 120px 8px;
  width: 213px;
  height: 218px;
  background-color: #dc143c;
  /* animation: colors-change 30s ease-in-out 0s infinite forwards; */
}

.main-container__lets-talk:hover {
  background-color: #9d0e2a;
}

@keyframes colors-change {
  0% {
    background-color: white;
  }
  10% {
    background-color: #dc143c;
  }
  20% {
    background-color: #ffd800;
  }
  30% {
    background-color: #263cfc;
  }
  40% {
    background-color: #22ddb1;
  }
  50% {
    background-color: #cccccc;
  }
  60% {
    background-color: #a94cff;
  }
  70% {
    background-color: #ff9a3c;
  }
  80% {
    background-color: #f1909c;
  }
  90% {
    background-color: #5a34f2;
  }
  100% {
    background-color: white;
  }
}

.main-container__dot {
  width: 7.25px;
  height: 7.25px;
  border-radius: 0px 0px 4px 0px;
}

.footer-white-container {
  width: 341.213px;
  height: 554.492px;
  border-radius: 0px 0px 194.31px 0px;
  background: #fff;
  background-image: url("/images/card1-mask.svg");
}

.footer-container-2 {
  width: 342px;
  height: 413px;
  border-radius: 194.31px 0px 0px 0px;
  background: #fff;
  background-image: url("/images/card2-mask.svg");
}

.form-pills {
  border-radius: 10.7px;
  background: #2f2f2f;
}

.submit-form {
  width: 442.473px;
  height: 442.473px;
  border-radius: 0px 0px 194.31px 0px;
  background-color: #ff9a3c !important;
}

.form-input input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #929292;
  background: #242424;
}

.vertical-arrow-movement {
  animation: arrow-verticle 1s ease-in-out 0s infinite alternate;
}

@keyframes arrow-verticle {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(28px);
  }
}

.arrow-movement {
  animation: arrow-back-and-forth 1s ease-in-out 0s infinite alternate;
}

@keyframes arrow-back-and-forth {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(20px);
  }
}

.height-0 {
  max-height: 0px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.height-auto {
  max-height: 1000px;
  transition: all 1s ease-in-out;
}

.strategy-illustration {
  border-radius: 8px 8px 121px 8px;
  width: 255px;
  height: 235px;
}

.freeConsultation-illustration {
  border-radius: 2px 2px 26px 2px;
  width: 250px;
  height: 48px;
}

.design-click-illustration {
  border-radius: 2px 2px 40px 2px;
  width: 200px;
  height: 64px;
}

.strategy-click-illustration {
  border-radius: 2px 2px 40px 2px;
  width: 308px;
  height: 64px;
}

.growth-click-illustration {
  border-radius: 2px 2px 40px 2px;
  width: 187px;
  height: 64px;
}

.develop-click-illustration {
  border-radius: 2px 2px 40px 2px;
  width: 213px;
  height: 64px;
}

.kpi-illustration {
  width: 247.569px;
  height: 64px;
  border-radius: 8px 8px 120px 8px;
  background-color: #f66884;
}

.strategy-illustration > .strategy-illustration__icon,
.development-illustration > .development-illustration__icon,
.design-illustration > .design-illustration__icon,
.growth-illustration > .growth-illustration__icon,
.kpi-illustration > .kpi-illustration__icon {
  display: none;
}

.strategy-illustration:hover > .strategy-illustration__icon,
.development-illustration:hover > .development-illustration__icon,
.design-illustration:hover > .design-illustration__icon,
.growth-illustration:hover > .growth-illustration__icon,
.kpi-illustration:hover > .kpi-illustration__icon {
  display: block;
}

.partner-box.partner-box__icon {
  display: none;
}

.partner-box:hover.partner-box__icon {
  display: block;
}

.strategy-illustration:hover {
  /* width: 390px; */
}

.development-illustration,
.design-illustration,
.growth-illustration {
  width: 240px;
  height: 64px;
  border-radius: 8px 8px 120px 8px;
}

.development-illustration:hover,
.growth-illustration:hover {
  width: 315px;
}

.design-illustration:hover {
  width: 288px;
}

.kpi-illustration:hover {
  width: 318.435px;
}

.kpi-content > div:first-child {
  width: 615.305px;
  height: 625.018px;
  border-radius: 8px 8px 120px 8px;
  background-color: #ccc;
  background-image: url("/images/kpi/mask-5.svg");
}

.kpi-content > div:nth-child(2) > div:first-child,
.kpi-content > div:nth-child(3) > div:first-child {
  width: 287.126px;
  height: 291.658px;
  border-radius: 8px 8px 120px 8px;
}

.kpi-content > div:nth-child(2) > div:first-child {
  background-image: url("/images/kpi/mask-1.svg");
}

.kpi-content > div:nth-child(3) > div:first-child {
  background-image: url("/images/kpi/mask-2.svg");
}

.kpi-content > div:nth-child(2) > div:last-child,
.kpi-content > div:nth-child(3) > div:last-child {
  width: 287.126px;
  height: 291.658px;
  border-radius: 120px 8px 8px 8px;
}

.kpi-content > div:nth-child(2) > div:last-child {
  background-image: url("/images/kpi/mask-3.svg");
}

.kpi-content > div:nth-child(3) > div:last-child {
  background-image: url("/images/kpi/mask-4.svg");
}

.partner-box {
  width: 340px;
  height: 580px;
  border-radius: 127px 9.367px 235px 3.367px;
}

.partner-box.bg-green-2:hover {
  background-color: #2adeb4;
}

.partner-box.bg-red-2:hover {
  background-color: #ff91a7;
}

.partner-box.bg-yellow-3:hover {
  background-color: #ffe96d;
}

.services-mini-illustration {
  width: 120.194px;
  height: 122.091px;
  border-radius: 8px 8px 49px 8px;
}

.services-mini-illustration.bg-green-1 {
  background-image: url("/images/services/mask.svg");
}

.services-mini-illustration.bg-blue-1 {
  background-image: url("/images/services/mask-2.svg");
}

.services-mini-illustration.bg-purple-1 {
  background-image: url("/images/services/mask-3.svg");
}

.services-mini-illustration.bg-warning-1 {
  background-image: url("/images/services/mask-4.svg");
}

.benefits-illustration.bg-blue-1 {
  border-radius: 4px 120px 4px 4px;
  background-image: url("/images/benefits/mask-1.svg");
}

.benefits-illustration.bg-red-1 {
  border-radius: 120px 4px 4px 4px;
  background-image: url("/images/benefits/mask-1.svg");
}

.benefits-illustration.bg-purple-1 {
  border-radius: 4px 4px 4px 120px;
  background-image: url("/images/benefits/mask-4.svg");
}

.benefits-illustration.bg-green-1 {
  border-radius: 4px 4px 120px 4px;
  background-image: url("/images/benefits/mask-2.svg");
}

.benefits-illustration.bg-yellow-1 {
  border-radius: 4px 4px 4px 120px;
  background-image: url("/images/benefits/mask-3.svg");
}

.common-service-illustration.bg-blue-4 {
  border-radius: 8px 8px 280px 8px;
  /* background-image: url("/images/benefits/mask-1.svg"); */
  background-image: url("/images/services/strategy/mask-bg-1.svg");
  background-repeat: no-repeat;
}

.common-service-illustration.bg-green-1 {
  border-radius: 8px 8px 280px 8px;
  /* background-image: url("/images/benefits/mask-1.svg"); */
  background-image: url("/images/services/strategy/mask-bg-2.svg");
  background-repeat: no-repeat;
}

.design-service-illustration.bg-blue-4 {
  border-radius: 8px 8px 280px 8px;
  background-image: url("/images/services/design/mask-bg-3.svg");
  background-repeat: no-repeat;
}

.design-service-illustration.bg-green-1 {
  border-radius: 8px 8px 280px 8px;
  background-image: url("/images/services/design/mask-bg-4.svg");
  background-repeat: no-repeat;
}

.design-service-illustration.bg-yellow-1 {
  border-radius: 8px 8px 280px 8px;
  background-image: url("/images/services/design/mask-bg-5.svg");
  background-repeat: no-repeat;
}

.development-service-illustration.bg-yellow-1 {
  border-radius: 8px 8px 280px 8px;
  background-image: url("/images/services/development/mask-bg-6.svg");
  background-repeat: no-repeat;
}

.growth-service-illustration.bg-yellow-1 {
  border-radius: 8px 8px 280px 8px;
  background-image: url("/images/services/growth/mask-bg-7.svg");
  background-repeat: no-repeat;
}

.w-30 {
  width: 30%;
}

.workshop {
  border-radius: 0px 0px 150px 0px;
  background-image: url("/images/partner/mask-2.svg");
  padding-left: 170px;
  padding-right: 70px;
  padding-bottom: 128px;
}

.services-heading {
  max-height: 58px;
  overflow: hidden;
}

.services-heading img {
  max-height: 0;
}

.services-heading .strategy-illustration,
.services-heading .growth-illustration,
.services-heading .development-illustration,
.services-heading .design-illustration {
  height: 0;
  overflow: hidden;
}

.services-heading.expanded {
  max-height: 600px;
  transition: max-height 1s ease-in-out;
  /* transition-delay: 0.2s; */
}

.services-heading.expanded img {
  max-height: 500px;
  transition: max-height 1s ease-in-out;
  /* transition-delay: 0.2s; */
}

.services-heading.expanded .strategy-illustration,
.services-heading.expanded .growth-illustration,
.services-heading.expanded .development-illustration,
.services-heading.expanded .design-illustration {
  height: 64px;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
  /* transition-delay: 0.2s; */
}

.services-sticky-view > div:first-child {
  width: 189.596px;
  height: 48px;
  border-radius: 3.367px 3.367px 50.508px 3.367px;
}

.services-sticky-view > div:nth-child(2) {
  width: 156.201px;
  height: 48px;
  border-radius: 50.508px 3.367px 3.367px 3.367px;
}

.services-sticky-view > div:nth-child(3) {
  width: 214.845px;
  height: 48px;
  border-radius: 3.367px 3.367px 50.508px 3.367px;
}

.services-sticky-view > div:nth-child(4) {
  width: 173.287px;
  height: 48px;
  border-radius: 50.508px 3.367px 3.367px 3.367px;
}

.partners-sticky-view > div:first-child {
  width: 273px;
  height: 56px;
  border-radius: 3.367px 3.367px 50.508px 3.367px;
}

.partners-sticky-view > div:nth-child(2) {
  width: 246px;
  height: 56px;
  border-radius: 50.508px 3.367px 3.367px 3.367px;
}

.partners-sticky-view > div:nth-child(3) {
  width: 282px;
  height: 56px;
  border-radius: 3.367px 3.367px 50.508px 3.367px;
}

.partners-sticky-view > div:nth-child(4) {
  width: 316px;
  height: 56px;
  border-radius: 50.508px 3.367px 3.367px 3.367px;
}

.partners-sticky-view > div:nth-child(5) {
  width: 241px;
  height: 56px;
  border-radius: 3.367px 3.367px 50.508px 3.367px;
}

.strategy-points > div:first-child {
  padding-top: 46px;
  padding-left: 56px;
}

.strategy-points > div:first-child > div:last-child > div:last-child,
.strategy-points > div:last-child > div:last-child > div:last-child,
.design-points > div:nth-child(1) > div:last-child > div:last-child,
.design-points > div:nth-child(3) > div:last-child > div:last-child,
.design-points > div:nth-child(5) > div:last-child > div:last-child {
  display: none;
}

.strategy-points > div:first-child:hover {
  background-image: url("/images/services/strategy/mask.svg");
  background-repeat: no-repeat;
}

.strategy-points > div:first-child:hover > div:last-child > div:last-child,
.strategy-points > div:last-child:hover > div:last-child > div:last-child,
.design-points > div:nth-child(1):hover > div:last-child > div:last-child,
.design-points > div:nth-child(3):hover > div:last-child > div:last-child,
.design-points > div:nth-child(5):hover > div:last-child > div:last-child {
  display: block;
}

.strategy-points > div:last-child {
  padding-top: 54px;
  padding-left: 56px;
}

.design-points > div:nth-child(1),
.design-points > div:nth-child(3),
.design-points > div:nth-child(5) {
  padding-top: 64px;
  padding-left: 56px;
}

.strategy-points > div:last-child:hover {
  background-image: url("/images/services/strategy/mask-2.svg");
  background-repeat: no-repeat;
}

.design-points > div:nth-child(1):hover {
  background-image: url("/images/services/design/mask.svg");
  background-repeat: no-repeat;
}

.design-points > div:nth-child(3):hover {
  background-image: url("/images/services/design/mask-1.svg");
  background-repeat: no-repeat;
}

.design-points > div:nth-child(5):hover {
  background-image: url("/images/services/design/mask-2.svg");
  background-repeat: no-repeat;
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  transform-origin: bottom;
}

/* popup styles */
/* styles.css or any other CSS file */
.full-screen-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  z-index: 9999; /* Ensure the popup appears on top of other content */
  display: flex;
  justify-content: center; /* horizontally center the content */
  align-items: center; /* vertically center the content */
}

.popup-inner {
  /* Add any additional styles for the inner content */
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  /* Add any additional styles for the close button */
}

.services-container {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth; /* Smooth scrolling behavior */
  transition: scroll-behavior 0.5s ease-in-out; /* Transition effect for smooth scrolling */
}
