@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../app/styles/header.css");
@import url("../app/styles/home.css");
@import url("../components/templates/new/hero/hero.css");
@import url("../components/templates/new/projects/projects.css");
@import url("../components/templates/new/trust/trust.css");
@import url("../components/templates/new/deliverables/deliverables.css");
@import url("../components/templates/new/growth/growth.css");
@import url("../components/templates/new/footer/footer.css");
@import url("../components/templates/new/services/services.css");
@import url("../components/templates/new/testimonials/testimonials.css");

:root {
  --background-main: #f3f3fa;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-urbanist: var(--font-urbanist);
  --font-allura: var(--font-allura);
  --font-roboto: var(--font-roboto);
  --font-inter: var(--font-inter);
}

body {
  color: #1e1e1e;
  background-color: var(--background-main);
  line-height: normal;
  font-family: var(--font-urbanist);
}

.font-urbanist {
  font-family: var(--font-urbanist);
}

.font-allura {
  font-family: var(--font-allura);
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-inter {
  font-family: var(--font-inter);
}

.container {
  max-width: 1200px;
  margin: auto;
}

.gray-1 {
  color: #a8a8a8;
}

.gray-2 {
  color: #676767;
}

.gray-3 {
  color: #898989;
}

.gray-4 {
  color: #494949;
}

.gray-5 {
  color: #b2b2b2;
}

.gray-6 {
  color: #dcdcdc;
}

.gray-7 {
  color: #a4a4a4;
}

.gray-8 {
  color: #c2c2c2;
}

.gray-9 {
  color: #6a6784;
}

.gray-10 {
  color: #5d5e67;
}

.black-1 {
  color: #272727;
}

.white-1 {
  color: #ffffff;
}

.black-2 {
  color: #242424;
}

.black-3 {
  color: #120404;
}

.black-4 {
  color: #24252c;
}

.font-84 {
  font-size: 84px;
}

.font-64 {
  font-size: 64px;
}

.font-96 {
  font-size: 96px;
}

.font-72 {
  font-size: 72px;
}

.font-32 {
  font-size: 32px;
}

.font-36 {
  font-size: 36px;
}

.font-48 {
  font-size: 48px;
}

.font-42 {
  font-size: 42px;
}

.font-40 {
  font-size: 40px;
}

.font-28 {
  font-size: 28px;
}

.font-27 {
  font-size: 27px;
}

.font-24 {
  font-size: 24px;
}

.font-57 {
  font-size: 57px;
}

.font-22 {
  font-size: 22px;
}

.font-27 {
  font-size: 27px;
}

.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.bg-black-3 {
  background-color: var(--background-main);
}

.bg-black-1 {
  background-color: #303030;
}

.bg-black-2 {
  background-color: #2f2f2f;
}

.bg-black-4 {
  background-color: #1b1b1b;
}

.bg-green-1 {
  background-color: #22ddb1;
}

.bg-green-3 {
  background-color: #2adeb4;
}

.bg-blue-1 {
  background-color: #263cfc;
}

.bg-blue-2 {
  background-color: #5a34f2;
}

.bg-purple-1 {
  background-color: #7809df;
}
.bg-purple-2 {
  background-color: #a94cff;
}

.bg-orange-1 {
  background-color: #f58a26;
}

.bg-blue-3 {
  background-color: #00b5aa;
}

.bg-warning-1 {
  background-color: #ff9a3c;
}

.bg-pink-1 {
  background-color: #f1909c;
}

.bg-pink-2 {
  background-color: #f66884;
}
.bg-pink-3 {
  background-color: #fa718d;
}
.bg-blue-4 {
  background-color: #27004f;
}

.bg-red-1 {
  background-color: #dc143c;
}

.bg-yellow-1 {
  background-color: #ffd800;
}

.bg-yellow-2 {
  background-color: #ffe96d;
}

.bg-gray-1 {
  background-color: #cccccc;
}

.line-height-normal {
  line-height: normal;
}
.pink-1 {
  color: pink;
}

.purple-1 {
  color: #6206b8;
}

.purple-3 {
  color: #461e88;
}

.blue-1 {
  color: #97efe5;
}

.blue-2 {
  color: #1e8888;
}

.blue-3 {
  color: #1e4288;
}

.blue-4 {
  color: #97bfef;
}

.purple-2 {
  color: #b397ef;
}

.orange-1 {
  color: #efbc97;
}

.brown-1 {
  color: #884a1e;
}

.bg-purple-2 {
  color: #7809df;
}

.ml-34 {
  margin-left: 9rem;
}

.ml-75 {
  margin-left: 21rem;
}

.bg-green-2 {
  background-color: #9be8d6;
}

.bg-yellow-3 {
  background-color: #eff2ca;
}

.bg-red-2 {
  background-color: #eed0cc;
}
